Source: wazo-python-graphql-server-packaging
Section: python
Priority: optional
Maintainer: Wazo Maintainers <dev+pkg@wazo.community>
Build-Depends: debhelper (>= 12),
               dh-python,
               python3-all,
               python3-setuptools
Standards-Version: 3.9.6
X-Python3-Version: >= 3.9

Package: python3-graphql-server
Architecture: all
Provides: python3-graphql-server-core, python3-flask-graphql
Conflicts: python3-graphql-server-core, python3-flask-graphql
Replaces: python3-graphql-server-core, python3-flask-graphql
Depends: ${misc:Depends},
         ${python3:Depends}
Description: GraphQL server for Python
 GraphQL-Server is a base library that serves as a helper for building
 GraphQL servers or integrations into existing web frameworks using
 GraphQL-Core.
 .
